body {
  padding-top: 40px;
  font-family: 'Courier New', monospace;
  text-align: center;
  background-color: aquamarine;
}

#target {
  font-size: 150px;
  letter-spacing: .1em;
}

#result {
  font-size: 150px;
  letter-spacing: .1em;
  font-weight: bold;
}